* {
    border-radius: 15px;
    color: white;
    
}

body {
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container {
    border: none;
    background: linear-gradient(135deg, #00feba, #5b548a);
    height: 30rem;
    width: 25rem;
    padding: 5px;
}

.inputSearch {

    display: flex;
    position: relative;
    top: 21px;
    justify-content: center;
}

.input input {
    height: 2rem;
    width: 15rem;
    border-radius: 20px;
    border: none;
    padding: .5em;
    margin-right: 12px;
    color: black;
}


.search button {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.image {
    height: 2rem;
    width: 2rem;
}

.weather {
    display: flex;
    flex-direction: column;


}

#temp {
    position: relative;
    top: 2em;
    left: 8em;
    height: 8rem;
    width: 8rem;

}

#icon {
    height: 8rem;
    width: 8rem;
}

#tempText {
    position: relative;
    font-size: 48px;


}

#humidity {
    display: flex;
    /* border: 2px solid black; */
}

.otherInfo {
    display: flex;
    position: relative;

    justify-content: space-between;
    top: 10em;
}

.otherImg {
    height: 4em;
    width: 4em;
    margin: 1em;
}

#humidText {
    position: relative;
    /* top: 8rem; */
    top: 1.1em;
    left: -0.2em;
    font-size: 28px;
}

.windspeed {
    position: absolute;
    top: 86px;
    left: 18px;
}

.windImg {
    position: relative;
    right: 112px;
}

#windText {
    position: absolute;
    top: 1.1em;
    font-size: 28px;
    left: 279px;
}

.humidSpeed {
    position: relative;
    bottom: 17px;
    right: 101px;
}